/* A Free Design by Bryant Smith (bryantsmith.com) */



body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #1E4297;
	background-repeat:repeat-x;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 940px;
}

#mainpic h1
{
	position:absolute;
text-align:right;

font-size:30px;
color:#FFF;	
left:550px;
top:100px;
}


#mainpic h2
{
position:absolute;
text-align:right;
color:#E1E7F7;	
left:500px;
width:350px;
top:130px;
}

#mainpic
{
background-image:url(../images/main.jpg);
background-repeat:no-repeat;
width:900px;
height:402px;	
}



.lightblue
{
color:#B1C6FC	
	
}

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}

#menu
{
background-image:url(../images/menu.png);
background-repeat:no-repeat;
width:940px;
height:69px;
float:left;
clear:both;
}

#content
{
width:880px;
height:auto;
background-color:#FFF;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
}

#footer
{
width:inherit;
height:auto;
}

#footer h3,#footer h3
{
display:inline;
text-align:center;
font-size:14px;
text-decoration:none;
color:#7198E1;
}


#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:900px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	
}

#menu a {
	float: left;
	width: 150px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 17px;
	font-size: 15px;
}

#menu a:hover{
	color:#BAD1F3;
	background: url(../images/menuhov.jpg) no-repeat;
}

#content p
{
	
}


html, body {
text-align: center;
}
p {text-align: left;}